@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div id="kko" class="row">
    <h1>Login</h1>
    <div class="col-md-9">
        <form id="account" method="post">
            <h2>Faça login com os seus dados.</h2>
            <hr />
            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span><p style="margin:0"></p>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span><p style="margin:0"></p>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-2">
                            <div class="form-floating">
                                <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a palavra-passe?</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px">
                        <div class="col-md-12 col-md-offset-2">
                            <div class="form-floating">
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Se ainda não tem conta crie uma</a>
                            </div>
                        </div>
                         </div>
                    <div class="row" style="margin-top:30px; margin-bottom: 10px">
                        <div class="col-md-12 col-md-offset-2">
                            <div class="form-floating">
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmação de email</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" style="background-color:cadetblue; border-color:cadetblue; border-radius:15px">Login</button>
                </div>
            </div>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>
<br></br>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
